.project {
  width: 100%;
  height: 300px;
  display: flex;
  position: relative;
}

.info {
  display: block;
  padding: 40px;
  font-size: 14px;
}

.projectsContainer {
  padding: 200px 0 100px 0;
  color: white;
  letter-spacing: 2px;
  line-height: 32px;
  position: relative;
  background: radial-gradient(
    #1b2735 0%,
    #090a0f 30%,
    rgba(255, 255, 255, 0) 70%
  );
  overflow: hidden;
}

.projectList > :nth-child(1) {
  height: 300px;
}

.img {
  height: 100%;
}

.center {
  width: 60%;
  aspect-ratio: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: white;
  box-shadow: 0 0 2px 1px #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform-origin: center;
}

.star:nth-child(1) {
  animation: orbit 40s linear infinite;
}

.star:nth-child(2) {
  animation: orbit2 60s linear infinite;
}

.star:nth-child(3) {
  animation: orbit3 80s linear infinite;
}

.star:nth-child(4) {
  animation: orbit4 90s linear infinite;
}

.star:nth-child(5) {
  animation: orbit5 100s linear infinite;
}

@keyframes orbit {
  from {
    transform: translate(-50%, -50%) rotate(0deg) translateX(100px) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg) translateX(100px)
      rotate(-360deg);
  }
}

@keyframes orbit2 {
  from {
    transform: translate(-50%, -50%) rotate(0deg) translateX(200px) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg) translateX(200px)
      rotate(-360deg);
  }
}

@keyframes orbit3 {
  from {
    transform: translate(-50%, -50%) rotate(0deg) translateX(300px) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg) translateX(300px)
      rotate(-360deg);
  }
}

@keyframes orbit4 {
  from {
    transform: translate(-50%, -50%) rotate(0deg) translateX(500px) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg) translateX(500px)
      rotate(-360deg);
  }
}

@keyframes orbit5 {
  from {
    transform: translate(-50%, -50%) rotate(0deg) translateX(600px) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg) translateX(600px)
      rotate(-360deg);
  }
}
