.projectsContainer {
  padding: 200px 0 100px 0;
  color: white;
  letter-spacing: 2px;
  line-height: 32px;
  position: relative;
  overflow: hidden;
}

.subtitle {
  padding-left: 200px;
  padding-bottom: 50px;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 10px;

  margin-bottom: 24px;
  text-shadow: 0px 0px 10px #fff, 0px 0px 10px #005582;
}

.project {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  transition: 0.4s;
}

.project:nth-child(4) .img {
  min-width: 50%;
}

.ref {
  position: absolute;
  top: 80px;
}

.info {
  display: block;
  padding: 40px;
  font-size: 1rem;
  width: 50%;
}

.img {
  height: 100%;
  width: 50%;
  object-fit: cover;
}

@media screen and (max-width: 1000px) {
  .projectsContainer {
    padding-bottom: 200px;
  }

  .subtitle {
    padding-left: 5vw;
  }

  .project {
    display: block;
    height: 700px;
  }

  .img {
    height: 400px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
  }

  .info {
    height: 300px;
    top: 400px;
    position: relative;
    width: 80%;
    margin: auto;
    padding: 0;
    padding-top: 16px;
  }
}

.center {
  width: 60%;
  aspect-ratio: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: white;
  box-shadow: 0 0 2px 1px #fff, 0 0 4px 2px rgb(0, 170, 255);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform-origin: center;
}

.star:nth-child(1) {
  animation: orbit 60s linear infinite;
}

.star:nth-child(2) {
  animation: orbit2 60s linear infinite;
}

.star:nth-child(3) {
  animation: orbit3 60s linear infinite;
}

.star:nth-child(4) {
  animation: orbit4 60s linear infinite;
}

.star:nth-child(5) {
  animation: orbit5 60s linear infinite;
}

.star:nth-child(6) {
  animation: orbit6 60s linear infinite;
}

.star:nth-child(7) {
  animation: orbit7 60s linear infinite;
}

.star:nth-child(8) {
  animation: orbit8 60s linear infinite;
}

@keyframes orbit {
  from {
    transform: translate(-50%, -50%) rotate(0deg) translateX(100px) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg) translateX(100px)
      rotate(-360deg);
  }
}

@keyframes orbit2 {
  from {
    transform: translate(-50%, -50%) rotate(270deg) translateX(200px)
      rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(630deg) translateX(200px)
      rotate(-360deg);
  }
}

@keyframes orbit3 {
  from {
    transform: translate(-50%, -50%) rotate(120deg) translateX(300px)
      rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(480deg) translateX(300px)
      rotate(-360deg);
  }
}

@keyframes orbit4 {
  from {
    transform: translate(-50%, -50%) rotate(90deg) translateX(500px)
      rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(450deg) translateX(500px)
      rotate(-360deg);
  }
}

@keyframes orbit5 {
  from {
    transform: translate(-50%, -50%) rotate(60deg) translateX(600px)
      rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(420deg) translateX(600px)
      rotate(-360deg);
  }
}

@keyframes orbit6 {
  from {
    transform: translate(-50%, -50%) rotate(-90deg) translateX(700px)
      rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(270deg) translateX(700px)
      rotate(-360deg);
  }
}

@keyframes orbit7 {
  from {
    transform: translate(-50%, -50%) rotate(180deg) translateX(400px)
      rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(540deg) translateX(400px)
      rotate(-360deg);
  }
}

@keyframes orbit8 {
  from {
    transform: translate(-50%, -50%) rotate(-45deg) translateX(500px)
      rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(315deg) translateX(500px)
      rotate(-360deg);
  }
}
