.menuSection {
  position: absolute;
  top: 20vh;
  color: rgb(124, 124, 124);
  right: 12vw;
}

.title {
  font-size: 30px;
  letter-spacing: 4px;
  color: white;
  font-weight: 700;
}

.menu {
  margin-top: 20px;
  font-size: larger;
}

.item {
  padding: 20px;
  width: 250px;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

.item:hover {
  color: white;
  letter-spacing: 1px;
}
