@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900");

.App {
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: black;
  font-family: "Inter", sans-serif;
  opacity: 0;
  animation: fadeInAnimation 0.8s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.globe-container {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
}

.text-container {
  position: absolute;
  width: 100%;
  color: rgba(228, 229, 247, 0.879);
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  letter-spacing: 15px;
  background-color: rgba(30, 35, 70, 0.19);
}

.title {
  font-size: 75px;
  text-shadow: 0px 0px 20px #fff, 0px 0px 20px #00a5e6;
}

.sub {
  font-size: 18px;
  line-height: 50px;
  margin-top: 16px;
  text-shadow: 0px 0px 20px #fff, 0px 0px 20px #00a5e6;
}

.subtitle {
  font-size: 72px;
  font-weight: 600;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 32px;
  text-shadow: 0px 0px 10px #fff, 0px 0px 10px #005582;
}

.container {
  padding: 200px 15vw;
  color: white;
  letter-spacing: 2px;
  line-height: 32px;
  position: relative;
}

a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.auroraWrapper {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.6881346288515406) 8%,
    rgba(20, 20, 41, 0.3155856092436975) 21%,
    rgba(29, 29, 61, 0.32) 100%
  );
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1000px) {
  .container {
    padding: 5vw;
  }
}
