.msg {
  padding: 20px;
  position: absolute;
  top: 10px;
  color: rgb(205, 205, 205);
  right: 10px;
  width: 20%;
  text-align: right;
  letter-spacing: 2px;
  font-size: 13px;
  text-shadow: 0px 0px 10px #fff, 0px 0px 10px #005582;
}

.glowingBtn {
  position: relative;
  color: rgb(224, 245, 255);
  cursor: pointer;
  padding: 4.5em 2em;
  border: 0.15em solid var(--pale-glow-color);
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.326);
  perspective: 2em;
  font-size: 0.7em;
  font-weight: 900;
  letter-spacing: 0.8em;
  margin-top: 40px;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--pale-glow-color),
    0px 0px 0.5em 0px var(--pale-glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--pale-glow-color),
    0px 0px 0.5em 0px var(--pale-glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--pale-glow-color),
    0px 0px 0.5em 0px var(--pale-glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowingTxt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--pale-glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--pale-glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--pale-glow-color);
}

.glowingBtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  opacity: 0;
  z-index: -1;
  background-color: var(--pale-glow-color);
  box-shadow: 0 0 0.6em 0.1em var(--pale-glow-color);
  transition: opacity 100ms linear;
}

.glowingBtn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowingBtn:hover .glowing-txt {
  animation: none;
}

.glowingBtn:hover:after {
  opacity: 1;
}
